*.vspscc
*.SCC
*.csproj.user
[Bb]in
obj/
[Dd]ebug*/
[Rr]elease*/
Thumbs.db
*.vssscc
*/Temp/*
*.suo
web.config
app.config
*/web.config
*/app.config
*/*/web.config
*/*/app.config
System/ContentCertification/packages/*
System/ContentCertification/LocalTesting/*
System/*/.vs
